<div class="footer">
    <div class="container ps-0 pe-0">
        <div class="footer-row row">
            <div class="col-lg-4">
                <div class="info-comp">
                    <div class="logo">
                        <img src="../../assets/imgs/mailLogo.png" alt="">
                    </div>
                    <div class="info-content">
                        <p>Email</p>
                        <p class="email">{{footerData[0]?.email}}</p>
                    </div>
                </div>
                <div class="info-comp">
                    <div class="logo">
                        <img src="../../assets/imgs/phoneLogo.png" alt="">
                    </div>
                    <div class="info-content">
                        <p>Phone</p>
                        <p class="phone">{{footerData[0]?.phone}}</p>
                    </div>
                </div>
                <div class="info-comp">
                    <div class="logo">
                        <img src="../../assets/imgs/addressLogo.png" alt="">
                    </div>
                    <div class="info-content">
                        <p>Address</p>
                        <p class="address">{{footerData[0]?.address}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="inside-organia">
                    <img src="../../assets/imgs/footerMainLogo.png" alt="">
                    <div class="organia-content">
                        <p>There are many variations of passages of lorem ipsum available.</p>
                    </div>
                    <div class="social-medias">
                        <a class="facebook" href="{{footerData[0]?.facebookURL}}" target="_blank">
                            <img src="../../assets/imgs/facebookLogo.png" alt="">
                        </a>
                        <a class="twitter" href="{{footerData[0]?.twitterURL}}" target="_blank">
                            <img src="../../assets/imgs/twitterLogo.png" alt="">
                        </a>
                        <a class="linked-in" href="{{footerData[0]?.linkedinURL}}" target="_blank">
                            <img src="../../assets/imgs/linkedinLogo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="customers">
                    <h4>CUSTOMER SERVICE</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Contact Us</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Help & FAQ</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Track Your Order</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Warranty & Repair</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Returns Policy</p>
                        </div>
                        <div class="col-lg-6">
                            <p>My Account</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Delivery Information</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Shopping Cart</p>
                        </div>
                        <div class="col-lg-6">
                            <p>Loyalty Program</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-footer">
            <p>&copy; copyright 2021 by Userthemes.com</p>
            <div class="money">
                <img src="../../assets/imgs/masterCard.png" alt="">
                <img src="../../assets/imgs/applePay.png" alt="">
                <img src="../../assets/imgs/visa.png" alt="">
                <img src="../../assets/imgs/amex.png" alt="">
                <img src="../../assets/imgs/paypal.png" alt="">
                <img src="../../assets/imgs/clearpay.png" alt="">
            </div>
        </div>
    </div>
</div>
