<div class="container ps-0 pe-0">
    <div class="top-row-par" *ngIf="chosenOnes.length != 0;else noProduct">
        <div class="top-row">
            <div class="photo">
                PHOTO
            </div>
            <div class="prod-name">
                PRODUCT NAME
            </div>
            <div class="price">
                PRICE
            </div>
            <div class="quantity">
                QUANTITY
            </div>
            <div class="total">
                TOTAL
            </div>
        </div>
    </div>
    <div class="prod-row" >
        <div class="single-prod-row" *ngFor="let prod of chosenOnes" >
            <div class="cancel" (click)="cancel(prod.id)">
                <i class="bi bi-x-lg"></i>
            </div>
            <div class="img-div">
                <img [src]="prod.imgURL" alt="">
            </div>
            <div class="title">
                <p>{{prod.productName}}</p>
            </div>
            <div class="price">
                <span>${{prod.price}}.00</span>   
            </div>
            <div class="quantity">
                <div class="plus-minus">
                    <span class="minus" (click)="minus(prod.id)">-</span>
                    <span class="count">{{counts[prod.id]}}</span>
                    <span class="plus" (click)="plus(prod.id)">+</span>
                </div>
            </div>
            <div class="total">
                <span>${{prod.price * counts[prod.id]}}.00</span>
            </div>
        </div>
    </div>
    <ng-template #noProduct>
        <div class="container">
            <div class="no-product">
                <div class="zero">
                    0
                </div>
                <p>You Do Not Have Any Products In Cart</p>
                <div class="view-all" [routerLink]="['/shop']">
                    View Products
                    <div class="arrow-circle">
                        <i class="bi bi-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>
