@mixin viewAll {
    width: fit-content;
    padding: 11px 27px 11px 36px;
    border-radius: 100px;
    display: flex;
    border: 0;
    background-color: #62a404;
    color: white;
    font-weight: bolder;
    .arrow-circle {
        margin-left: 12px;
        background-color: #437400;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 12px;
        }
    }
}
.container {
    padding-top: 100px;
    .top-row-par {
        background-color: #62a404;
        .top-row {
            padding-top: 40px;
            padding-bottom: 40px;
            color: white;
            font-weight: bolder;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
            @media screen and(max-width: 768px) {
                div {
                    font-size: 12px;
                }
            }
            .prod-name {
                text-align: center;
            }
            .photo {
                padding-left: 30px;
            }
        }
    }
    .prod-row {
        .single-prod-row {
            position: relative;
            .cancel {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                color: #93a2aa;
                cursor: pointer;
            }
            display: grid;
            padding-top: 43px;
            padding-bottom: 43px;
            grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
            }
            .img-div {
                img {
                    display: block;
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .title {
                font-weight: bold;
                font-size: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                @media screen and (max-width: 576px) {
                    font-size: 12px;
                }
            }
            .price {
                color: #899ba5;
                font-weight: bold;
                display: flex;
                align-items: center;
            }
            .quantity {
                display: flex;
                align-items: center;
                .plus-minus {
                    width: fit-content;
                    border: 2px solid #ecedef;
                    border-radius: 100px;
                    display: flex;
                    gap: 35px;
                    padding: 15px 25px 20px 25px;
                    @media screen and (max-width: 768px) {
                        padding: 5px 8px 6px 8px;
                        gap: 20px;
                    }
                    @media screen and (max-width: 576px) {
                        padding: 2px 4px 3px 4px;
                        gap: 10px;
                    }
                    .minus, .plus {
                        color: #d0d9de;
                        font-size: 20px;
                        cursor: pointer;
                    }
                    .count {
                        display: block;
                        margin-top: 4px;
                    }
                }
            }
            .total {
                display: flex;
                align-items: center;
                color: #67a005;
                font-weight: bolder;
            }
        }
    }
    .no-product {
        margin-top: -300px;
        .zero {
            font-size: 400px;
            color: #62a404;
            font-weight: bolder;
            text-align: center;
            margin-top: 0px;
        }
        p {
            color: #2a2a2a;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-size: 50px;
            margin: auto;
            margin-top: -115px;
            width: 500px;
            max-width: 100%;
            padding-bottom: 30px;
        }
        .view-all {
            margin: auto;
            margin-bottom: 100px;
            @include viewAll();
        }
    }
}