/* You can add global styles to this file, and also import other style files */
@use 'bootstrap';

@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1320px;
}
}
@media (min-width: 1200px) and (max-width: 1320px){
    .container {
        max-width: 1200px;
    }
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgb(13 110 253 / 25%);
}
p, h1, h3, h2, h4, h5, h6 {
    margin-bottom: 0 !important;
}
.row {
    --bs-gutter-x: 0 !important;
}
.view-all {
    cursor: pointer;
}